/*
header {
    padding-top: 50px
}
*/

.formfield {
    padding-bottom: 25px;
}

.note {
    padding-bottom: 20px;
    color: #bdbdbd;
}

.jumbotron {
    background-image: url(assets/header-image.jpg);
    background-repeat: no-repeat;
    height: 400px;
    background-size: cover;
    padding-left: 40px;
    padding-top: 50px;
}


/*PACE*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background-color: rgba(254, 220, 50, 0.19999999999999996);
  position: fixed;
  z-index: -1;
  top: 0;
  right: 100%;
  bottom: 0;
  width: 100%;
}